.last-pasta__last-pasta-body,
.last-pasta__last-pasta-body * {
    cursor: pointer;
}

.last-pasta:hover .last-pasta__link {
    text-decoration: underline;
}

.last-pasta__title {
    white-space: nowrap;
    max-width: 70%;
    color: #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 23px auto;
    transition-duration: .2s;
}

.last-pasta__last-pasta-body:hover .last-pasta__title {
    color: #aaa;
}